target
!.mvn/wrapper/maven-wrapper.jar
*.log*
test-output
*.jar
*.war

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/build/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/


.flattened-pom.xml
dependency-reduced-pom.xml

## Postgres
/app/server/core/database
settings.json
HOWTOO.pdf
USAGE.pdf
